---
version: '2.1'
services:
  gemstash:
    build: .
    image: zappi/gemstash:latest
    environment:
      RACK_ENV: production
      GEMSTASH_DB_ADAPTER: mysql2
      GEMSTASH_DB_USERNAME: root
      GEMSTASH_DB_PASSWORD: sekretpassword
      GEMSTASH_DB_DATABASE: gemstash
      GEMSTASH_DB_HOST: mysql
      GEMSTASH_DB_PORT: 3306
      GEMSTASH_PUMA_THREADS: 4
    ports:
      - 9292:9292
    volumes:
      - gemstash_data:/home/gemstash/data
    links:
      - mysql
    depends_on:
      mysql:
        condition: service_healthy
  mysql:
    image: mysql:5.7.37
    volumes:
      - mysql_data:/var/lib/mysql
    expose:
      - 3306
    environment:
      - MYSQL_ROOT_PASSWORD=sekretpassword
      - MYSQL_DATABASE=gemstash
    healthcheck:
      test:
        - CMD
        - mysql
        - --user=root
        - --password=sekretpassword
        - --execute=select 1
        - --host=127.0.0.1
        - --port=3306
        - gemstash
      interval: 1s
      retries: 60

volumes:
  gemstash_data:
    driver: local
  mysql_data:
    driver: local
